@import "./colors";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;

  .logo {
    object-fit: contain;
    cursor: pointer;
  }

  &__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    background-color: $lightGray;
    width: 90vw;
    position: absolute;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0;
    border-radius: 5px;
    transition: 0.7s all ease-in-out;
  }

  &.open {
    &::before {
      content: "";
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: -5vw;
      background: rgb(182, 183, 193);
      background: linear-gradient(
        180deg,
        rgba(182, 183, 193, 0.4457983877144608) 0%,
        rgba(36, 45, 82, 0.7847339619441527) 81%
      );
      animation: 0.7s background-animation;
    }

    .navbar__links {
      top: 13vh;
    }

    .line {
      background-color: transparent;

      &::before {
        background-color: $blue !important;
        transform: rotate(405deg) translate(4px, 4px);
      }

      &::after {
        background-color: $blue !important;
        transform: rotate(315deg) translate(5px, -6px);
      }
    }
  }

  &__link {
    display: block;
    padding: 15px 0;

    a {
      text-decoration: none;
      font-weight: 700;
      color: $blue;
    }
  }

  &__toggle-btn {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    .line {
      width: 100%;
      height: 4px;
      background-color: $blue;
      position: relative;
      transition: 0.7s all;

      &::before {
        content: "";
        @extend .line;
        position: absolute;
        top: -7px;
      }

      &::after {
        content: "";
        @extend .line;
        position: absolute;
        top: 7px;
      }
    }
  }
}

@media (min-width: 992px) {
  .desktop {
    display: block;
  }
  .navbar {
    padding: 60px 0;

    &__toggle-btn {
      display: none;
    }

    &__links {
      position: static;
      top: 0;
      left: auto;
      width: fit-content;
      flex-direction: row;
      transform: translateX(0);
      background-color: transparent;
    }

    &__link {
      padding: 0;

      a {
        padding: 10px 16px;

        &:hover {
          color: $darkBlue;
        }
      }
    }
  }
}

@keyframes background-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
