@import "./Styles/colors";

.App {
  width: 100vw;
  overflow-x: hidden;
}

.desktop {
  display: none;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-width: 992px) {
    width: 80%;
  }
}

p {
  color: $darkBlue;
}

.button {
  height: 45px;
  background-color: $red;
  border: none;
  padding: 0px 32px;
  border-radius: 30px;
  font-weight: 700;
  color: $lightGray;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s transform, 0.3s opacity;
  box-shadow: 0px 7px 16px -4px $red;

  &:hover {
    transform: scale(1.02);
    opacity: 0.85;
  }
}

.inverted-button {
  background-color: $lightGray;
  color: $red;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  &__graphs {
    flex: 1;

    img {
      // max-width: max-content;
      width: 100%;
    }
  }

  &__text {
    flex: 1;
    text-align: center;

    h1 {
      font-size: 40px;
      color: $blue;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    p {
      width: 95%;
      margin: 0 auto;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 992px) {
  .intro {
    flex-direction: row-reverse;

    &__text {
      text-align: left;
      justify-content: left;

      h1 {
        font-size: 40px;
        width: 80%;
      }

      p {
        width: 60%;
        margin: 0;
        margin-bottom: 40px;
        line-height: 1.5;
      }
    }

    &__graphs img {
      width: 95%;
      display: inherit;
      margin-left: auto;
    }
  }
}

@media (min-width: 1200px) {
  .intro__text > h1 {
    font-size: 50px;
  }
}

// different-part
.differences-part {
  display: grid;
  grid-template: 1fr;
  text-align: center;

  &__question {
    h2 {
      color: $blue;
      font-size: 1.9rem;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 60px;
      line-height: 1.7;
    }
  }

  .differencies {
    &__items {
      list-style-type: none;
    }

    &__item {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
      .header {
        display: flex;
        align-items: center;
        background-color: $paleRed;
        margin-right: -5vw;
        border-radius: 20px 0 0 20px;
        margin-bottom: 16px;

        .number {
          background-color: $red;
          color: $lightGray;
          font-weight: 700;
          padding: 10px 0;
          margin-right: 1rem;
          width: 62px;
          border-radius: 20px;
          align-items: center;
        }

        h3 {
          font-size: 1rem;
          font-weight: 700;
          color: $blue;
        }
        p {
          line-height: 1;
          text-align: center;
        }
      }
      p {
        line-height: 1.7;
        text-align: left;
      }
    }
  }

  @media (min-width: 768px) {
    &__question > h2 {
      font-size: 2rem;
    }
  }

  @media (min-width: 992px) {
    & {
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      text-align: left;

      &__question {
        h2 {
          font-size: 2.2rem;
          width: 90%;
        }

        p {
          width: 70%;
        }
      }

      .differencies__item {
        .header {
          background-color: transparent;
          margin-right: 0;

          .number {
            text-align: center;
          }
        }

        p {
          padding-left: 5rem;
        }
      }
    }
  }
}

.reviews {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  margin-top: 40px;

  h2 {
    color: $blue;
    font-size: 2rem;
    margin-bottom: 60px;
  }

  .card {
    // background-color: red;
    background-color: #fafafa;
    height: 100%;
    padding: 0 25px;
    margin-top: 35px;

    img {
      width: 70px;
      margin-top: -35px;
    }

    h6 {
      font-size: 1rem;
      font-weight: 700;
      margin: 25px 0;
      color: $blue;
    }

    p {
      line-height: 1.7;
      padding-bottom: 40px;
    }
  }

  .react-multi-carousel-list {
    margin-bottom: 1rem;
  }

  .react-multi-carousel-item {
    border-right: 10px solid white;
    border-left: 10px solid white;
  }

  .react-multi-carousel-dot-list {
    position: relative;
    margin-bottom: 45px;
  }

  @media (min-width: 992px) {
    & {
      margin-top: 130px;
      padding-bottom: 175px;
      width: 120vw;
      margin-left: -20vw;

      h2 {
        font-size: 2.5rem;
      }
    }

    .react-multi-carousel-dot-list {
      display: none;
    }

    .react-multi-carousel-list {
      margin-bottom: 50px;
    }
  }
}

// simplify part
.simplify {
  background-color: $red;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 90px;

  .wrapper > h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    & {
      padding: 70px 0;
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          width: 45%;
          text-align: left;
        }
      }
    }
  }
}

footer {
  background-color: $veryDarkBlue;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;

  .form-wrapper {
    margin-bottom: 60px;

    form {
      width: 100%;
      display: flex;
      max-width: 500px;
      margin: 0 auto;

      input {
        flex: 1;
        margin-right: 10px;
        border: 2px solid $veryDarkBlue;
        padding-left: 1.2rem;
        outline: none;
        color: $blue;

        &::placeholder {
          color: $darkBlue;
        }
      }

      button {
        width: 80px;
        background-color: $red;
        color: white;
        font-weight: 700;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.85;
        }
      }

      input,
      button {
        height: 45px;
        border-radius: 40px;
      }
    }

    .form-error {
      color: red;
      margin-left: 1.2rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 50px auto;

    ul {
      list-style: none;

      li {
        padding-bottom: 20px;

        &:last-child {
          padding-bottom: 0;
        }
        a {
          text-decoration: none;
          color: $lightGray;
          display: block;
          transition: 0.3s color;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  .icons {
    text-align: center;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      li {
        list-style: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: 0.3s transform;

        &:hover {
          transform: translateY(2px);

          a > svg > path {
            fill: $red;
          }
        }

        a > svg > path {
          transform: scale(1.5);
        }
      }
    }

    .logo {
      margin-top: 50px;
      cursor: pointer;
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 1.6rem;
    transform: translateX(-50%);
    font-size: 12px;
  }

  @media (min-width: 768px) {
    & > .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "form form"
        "links icons";
      align-items: start;
      justify-items: center;
    }

    .links {
      grid-area: links;
      margin: 0;
    }

    .form-wrapper {
      grid-area: form;

      form {
        width: 500px;
      }
    }

    .icons {
      grid-area: icons;

      li {
        margin-right: 12px;
      }
    }
  }

  @media (min-width: 992px) {
    & {
      padding-bottom: 50px;
      .wrapper {
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-areas: "icons links form";
        grid-gap: 2rem;
        position: relative;

        .form-wrapper {
          margin-left: auto;

          form {
            width: 270px;
          }
        }

        .icons {
          height: 100%;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          margin-right: auto;

          .logo {
            margin: 0;
          }

          ul {
            margin: 0;
          }
        }
      }

      .copyright {
        width: auto;
        left: unset;
        right: 0;
        bottom: 0;
        transform: unset;
        text-align: unset;
      }
    }
  }
}
