@import "./Styles/colors";

.App {
  width: 100vw;
}

.desktop {
  display: none;
}

.wrapper {
  width: 90%;
  /* max-width: 1120px; */
  margin: 0 auto;
}

.button {
  height: 45px;
  background-color: $red;
  border: none;
  padding: 0px 32px;
  border-radius: 30px;
  font-weight: 700;
  color: $lightGray;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s transform, 0.3s opacity;
  box-shadow: 0px 7px 16px -4px $red;

  &:hover {
    transform: scale(1.03);
    opacity: 0.85;
  }
}
